{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}{% endblock title %}</title>
    <link href="{% static "css/cart_shopping.css" %}" rel="stylesheet">
    <link rel="shortcut icon" src="{% static 'img/donut-logo.jpg' %}">
    <script src="https://kit.fontawesome.com/e8af35a10c.js" crossorigin="anonym ous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Cedarville+Cursive&family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poetsen+One&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
</head>
<body>
        <div class="content">
            {% if messages %}
              {% for message in messages  %}
                  <div class="message">
                        <button class="close-btn">&times;</button>
                        {{message}}
                  </div>
              {% endfor %}
            {% endif %}
            <div class="navbar">    

                <img onclick="redirectToPage('/inventory/home/')" src="{% static 'images/navbar_logo.png' %}" class="navbar-img">
            </div>
            {% block content %}

            {% endblock content %}
        </div>
        {% block scripts %}
        <script src="{% static "js/align_messages.js" %}"></script>
        <script src="{% static "js/delete_messages.js" %}"></script>
        <script src="{% static "js/paypal.js" %}" type="module"></script>
        <script src="https://www.paypal.com/sdk/js?client-id=test" data-sdk-integration-source="developer-studio"></script>
        <script>
            function redirectToPage(url) {
                window.location.href = url;
            }
        </script>
        {% endblock scripts %}
</body>
</html>

