/* common styles */
html {
    font-size: 62.5%;   
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}


input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

.content {
    height: 100vh;
    width: 100vw;

    display: flex;;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    background-color: #faedcd;
}

.message {
    position: absolute;
    top: -10%;
    margin-bottom: 1rem;

    border-radius: 1rem;
    
    box-sizing: border-box;
    padding: 1.5rem;

    background-color: #ffea00;
    
    font-size: 1.2rem;
    text-transform: uppercase;
    font-family: "Roboto", sans-serif;
    font-style: normal;
}

.close-btn {
    position: absolute;
    bottom: 1rem;
    left: -.5rem;
    background-color: transparent;
    border: none;
    font-size: 2rem;
    cursor: pointer;
    margin-right: 1rem;

}

/* end of common styles */

/* navbar */
.navbar {
    height: 7rem;
    width: 100%;

    position: absolute;
    top: 0;
    margin: 0;
    background-color: #bc6c25;

    display: flex;
    /* align-items: le; */
    justify-content: left;

}

.navbar-img {
    height: 7rem;
    width: 14rem;
    
    cursor: pointer;
}
/* end of navbar */

/* shopping */
.shopping-content {
    height: 100vh;
    width: 100vw;

    display: flex;
    align-items: center;
    justify-content: center;
}

.info-donut-image {
    height: 40vh;
    width: 20vw;
}

.info-donut-content {
    height: 100vh;
    width: 50vw;

    display: flex;
    flex-direction: column;
    align-items: center;

    box-sizing: border-box;
    padding: 8rem;
}

.info-donut-paragraph {
    color: #212529;
    text-transform: uppercase;
    font-size: 2rem;
    text-align: justify;

}


.info-donut-title {
    color: #b18486;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 1.6rem;
    letter-spacing: .1rem;
}

.shopping-form {
    height: 100vh;
    width: 50vw;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;

    box-sizing: border-box;
    padding: 8rem;

}

.shopping-form-input-textarea {
    width: 500px;  /* Ancho predeterminado */
    height: 200px; /* Altura predeterminada */
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    font-size: 1.6rem;
    resize: none;
}

.shopping-form-input {
    width: 30%;
    text-align: center;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.shopping-form-tittle {
    font-size: 3rem;
    text-transform: uppercase;
    font-family: "Roboto", sans-serif;
    font-style: normal;
}

.shopping-form-btn {
    cursor: pointer;
    background-color: #04AA6D; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    transition: all .5s;
}

.shopping-form-btn:hover {
    background-color: white;
    color: #04AA6D;
}
/* end of shopping */


/* shopping cart */

.shopping-cart-table {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 90%;

    text-align: center;
    font-size: 1.5rem;
    text-transform: uppercase;

}

.shopping-cart-table td, .shopping-cart-table th {
    border: 1px solid #ddd;
    padding: 8px;
}

.shopping-cart-table tr:nth-child(even){background-color: #f2f2f2;}

.shopping-cart-table tr:hover {background-color: #ddd;}

.shopping-cart-table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #d4a373;
  color: white;
}

.edit-btn {
    cursor: pointer;
    text-transform: uppercase;
}

.delete-btn {
    cursor: pointer;
    text-transform: uppercase;
}
/* end of shopping cart */

/* shopping edit */
.form-edit {
    height: 80vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
}

.form-edit a {
    font-size: 2rem;
}
/* end of shopping edit */

