{% load static %}

<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}{% endblock title %}</title>
    <link href="{% static "css/inventory.css" %}" rel="stylesheet">
    <link rel="shortcut icon" src="{% static 'img/donut-logo.jpg' %}">
    <script src="https://kit.fontawesome.com/e8af35a10c.js" crossorigin="anonym ous"></script>

</head>
<body>
    <!-- navbar -->
    <div class="navbar">
    
        <input type="checkbox" class="navbar-checkbox-sidebar" hidden id="click">

        <!-- sidebar -->
        <div class="sidebar">

            <label for="click">
                <img src="{% static 'images/donut-menu.png' %}" class="menu-icon">
            </label>

            <ul class="sidebar-icons-list">
                <li>
                    <a href="#" class="sidebar-social-link"><i class="fa-brands fa-square-youtube sidebar-icon-youtube"></i></a>
                </li>
                <li>
                    <a href="#" class="sidebar-social-link"><i class="fa-brands fa-square-twitter sidebar-icon-twitter"></i></a>
                </li>
                <li>    
                    <a href="#" class="sidebar-social-link"><i class="fa-brands fa-square-facebook sidebar-icon-facebook"></i></a>
                </li>
            </ul>

            <div class="sidebar-year">
                <p>2024</p>
            </div>
        </div>
        <!-- end of sidebar -->

        <!-- navigation -->
        <nav class="navigation">
            <h1 class="navigation-heading">La Dona Glaseada</h1>    
            
            <ul class="navigation-list">
                <li class="navigation-item">
                    <a href="{% url 'inventory:home' %}"  class="navigation-link">Home</a>
                </li>
                <li class="navigation-item">
                    <a  href="{% url 'shopping_cart:user_orders' %}" class="navigation-link">Orders</a>
                </li>
                <li class="navigation-item">
                    <a  href="{% url 'inventory:terms_and_conditions' %}" class="navigation-link">Terms & conditions</a>
                </li>
                <li class="navigation-item">
                    <a href="{% url 'account:logout' %}" class="navigation-link">Log Out</a>
                </li>
            </ul>

            
            <div class="copyright">
                <p>&copy; 2024. La Dona Glaseada. All Rights Reserved</p>
            </div>
        </nav>
        <!-- end of navigation -->
    </div>
    <!-- end of navbar -->

    <div class="content">
        {% if messages %}
        {% for message in messages  %}
            <div class="message">
                  <button class="close-btn">&times;</button>
                  {{message}}
            </div>
        {% endfor %}
        {% endif %}

        {% block content %}
        {% endblock content %}
    </div>
    {% block scripts %}
        <script src="{% static 'js/redirect.js' %}"></script>
    {% endblock scripts %}
</body>
</html>

