{% extends 'inventory/base.html' %}
{% load static %}

{% block title %}
  La Dona Glaseada - Home
{% endblock title %}

{% block content %}
<h2 class="donuts-header">Donuts in stock</h2>

<div class="donuts-container">

    {% for donut in donuts %}
      <div class="donut-card" data-donut-id="{{ donut.id }}">
          <div class="front-face">
              <div class="front-face-image">
                <img src="{% static 'images/dona-' %}{{ donut.name }}.png" alt="Image of {{ donut.name }}">
            </div>
              <div class="front-face-name">
                  <h3>{{ donut.name }}</h3>
              </div>
          </div>
          <div class="back-face">
                <div class="back-face-description">
                    <p>{{ donut.description }}</p>
                    <p>Price: {{ donut.price }}</p>
                </div>
                <div class="back-face-buttons">
                    <a id="shopping-link" href="{% url 'shopping_cart:shoping_form' donut.id %}" style="display: none;"></a>
                    <button type="button" class="buy-btn" onclick="redirectToPage('/shopping_cart/shoping_form/{{ donut.id }}')">
                    <i class="fa-solid fa-cart-shopping"></i> 
                    </button>
                </div>
          </div>
      </div>
    {% endfor %}
    
    <div class="shopping-cart" onclick="redirectToPage('/shopping_cart/shopping_cart_buy')">
        <i class="fa-solid fa-cart-plus shoppin-cart-icon"></i>
        <div class="shoppin-cart-number-items">
            <h3 class="shopping-cart-number">{{ cart_shopping_number }}</h3>
        </div>
    </div>  

</div>

<script src="{% static 'js/card_flip.js' %}"></script>
<script src="{% static 'js/redirect.js' %}"></script>
{% endblock content %}