{% load static %}
<!DOCTYPE html>
<html>
<head>
    
    <title>{% block title %}{% endblock title %}</title>
    <link href="{% static "css/index.css" %}" rel="stylesheet">
    <link rel="shortcut icon" src="{% static 'img/donut-logo.jpg' %}">
    <script src="https://kit.fontawesome.com/e8af35a10c.js" crossorigin="anonym ous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Cedarville+Cursive&family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poetsen+One&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
</head>
<body>
        <div class="content">
            <div class="navbar">    
                <div class="navbar-left-side">
                    <img src="{% static 'images/navbar_logo.png' %}" class="navbar-img">
                </div>
                <div class="navbar-right-side">
                    <button class="navbar-button" onclick="redirectToPage('account/login/')" >Login</button>
                    <button class="navbar-button" onclick="redirectToPage('account/signup/')" >SignUp</button>
                </div>
            </div>
            
            <div class="notice">
                <h3>Now with more than 10 branches throughout the country</h3>
            </div>
            
            <div class="content-info">
                
                <div class="pastry-chefs">
                    <div class="pastry-chef-bibliography">
                        <img src="{% static 'images/Pastelero_1.jpeg' %}" class="pastry-chef-bibliography-img">
                        <p class="pastry-chef-bibliography-history">Chef Carlos, better nicknamed "El Inge" was born in 2004 in the capital of French cuisine, Paris, there at just 10 years old he made his first cake, which renowned pastry chefs described as "Ingenious", his beautiful creations delight the more eccentric palates, in 2024, after winning 3 Michelin stars, together with his two companions he decided to open his own cake shop, and call it "The Glazed Donut"</p>
                    </div>        
   
                </div>
            
            </div>
        </div>

        <script>
            function redirectToPage(url) {
                window.location.href = url;
            }
    
        </script>
</body>
</html>

