{% extends 'account/base.html' %}
{% load static %}

{% block title %}
  La Dona Glaseada - SignUp
{% endblock title %}

{% block content %}
  <form class="signup-form" method="post">
      {% csrf_token %}
      

      <img class="signup-image" src="{% static 'images/donut-logo.jpg' %}" alt="">

      
      <div class="input-container">
          <input class="form-input" placeholder="Email" name="{{ form.email.name }}">
          <i class="fa-solid fa-envelope"></i>
      </div>
  
      <div class="input-container">
          <input class="form-input" placeholder="Username" name="{{ form.username.name }}">
          <i class="fa-solid fa-user"></i>
      </div>
  
      <div class="input-container">
          <input class="form-input" type="password" placeholder="Password" name="{{ form.password1.name }}">
          <i class="fa-solid fa-lock"></i>
      </div>
  
      <div class="input-container">
          <input class="form-input" type="password" placeholder="Confirm Password" name="{{ form.password2.name }}">
          <i class="fa-solid fa-lock"></i>
      </div>
  
      <button class="form-btn">Register</button>
  </form>
{% endblock content %}
