{% extends 'account/base.html' %}

{% block title %}
  La Dona Glaseada - SignUp
{% endblock title %}

{% block content %}
  <form class="signup-form" method="post">
      {% csrf_token %}
      <img class="signup-image" src="{% static 'img/donut-logo.jpg' %}" alt="">
      
      <div class="input-container">
          <input class="form-input" placeholder="Email">
          <i class="fa-solid fa-envelope"></i>
      </div>
  
      <div class="input-container">
          <input class="form-input" placeholder="Username">
          <i class="fa-solid fa-user"></i>
      </div>
  
      <div class="input-container">
          <input class="form-input" type="password" placeholder="Password">
          <i class="fa-solid fa-lock"></i>
      </div>
  
      <div class="input-container">
          <input class="form-input" type="password" placeholder="Confirm Password">
          <i class="fa-solid fa-lock"></i>
      </div>
  
      <button class="form-btn">Registrarse</button>
  </form>
{% endblock content %}
